* {
  margin: 0;
  padding: 0;
}

.pageStyle {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 155px);
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #f2f3f4 !important;
}

.footer {
  background-color: #1f2833;
  height: 80px;
  color: #ffffff5d;
  text-align: center;
}

.footer-logo-wrapper {
  margin: auto;
}

.footer-logo-wrapper:hover {
  cursor: pointer;
}

.footer.logo {
  pointer-events: none;
  width: 250px;
}

.banner {
  position: absolute;
  color: white;
  background-color: #1f2833;
  height: 35px;
  width: 105px;
  padding-top: 4px;
  padding-left: 10px;
}

.banner-icon-container {
  position: absolute;
  width: 25%;
  right: -5px;
  top: 3px;
}

@media only screen and (max-width: 315px) {
  #navbar-big-logo {
    display: none;
  }
}