.nav-main {
  background-color: #1f2833;
  height: 75px;
  font-family: 'Teko', sans-serif;
}

.navigation-link {
  color: #66Fcf1 !important;
  text-decoration: none;
  font-size: 25px;
}

.navigation-link:hover {
  color: #ffffff5d;
  cursor: pointer;
}

.navbrand {
  cursor: pointer;
  margin-right: -5px;
  width: 300px;
}

/* navbardropdown */

#navbar-dropdown {
  color: #66Fcf1;
  margin-top: -8px;
  margin-right: -5px;
  border-radius: 0px;
  cursor: pointer;
}

#navbar-dropdown:hover {
  color: #ffffff5d;
  text-decoration: underline;
}

.dropdown-menu {
  position: absolute !important;

  cursor: pointer;
  border-radius: 0px !important;
  border: none !important;
  font-size: 20px !important;
  min-width: 180px !important;

  background-color: #1f2833 !important;
  padding: 0px !important;
}

.dropdown-item {
  color: #66Fcf1 !important;
}

.dropdown-item:hover {
  background-color: #ffffff5d !important;
}

.navbar-collapse {
  background-color: rgb(31, 40, 51);
  position: relative;
  top: 8px;
  border: none;
  z-index: 1;
}

.dropdown-helper {
  height: 17px;
  background-color: #1f2833;
}

.collapsing {

}

.navbar-toggler {
  padding: .25rem .50rem !important;
}

.dropdown {
  position: relative;
  top: -5px;
}

.navbar-toggler-icon{
  background-image: url('../public/list.svg')!important;
}

.navbar-toggler-icon:hover{
  background-image: url('../public/list-hover.svg')!important;
}


/* asdasdasdasdasdasdasdasd */

.theLinkTag {
  width: 100%;
}

.dropdownIcon {
  display: none;
}

.dropdown-header {
  height: 0px;
  width: 0px;
  padding: 0px !important;
}

.dropdown-navContainer {
  display: flex;
}

.navigation-link-normal {
  position: relative;
  top: 2px;
  padding-left: 10px;
  width: 100%;
}

.navigation-link-dropdown {
  position: relative;
  top: 7px;
  padding: 0;
  padding-left: 10px;
}

a {
  color: #66Fcf1 !important;
}

.nav-link {
  padding: 0 !important;
}

.dropdown-logo {
  display: none;
}

@media only screen and (max-width: 992px) {

  .dropdownIcon {
    display: block;
  }

  .navbrand {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .navigation-link-normal {
    top: 6px;
  }

  .navigation-link-normal-container {
    width: 100%;
  }

  .navigation-link-normal-container:hover {
    background-color: #ffffff5d !important;
    cursor: pointer;
  }

  .dropdown-footer {
  }

  .dropdown-logo {
    display: block;
    width: 300px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 150px);
  }

  /* #navbar-dropdown {
    color: #66Fcf1;
    cursor: pointer;
  }
  
  .navbrand {
    width: 250px;
  }

  .dropdown-helper {
    height: 0px !important;
    background-color: red !important;
  }

  .dropdown-item {
    display: flex !important;
    flex-direction: column !important;
  }

  .navbar-toggler {
    position: absolute !important;
    right: 20px !important;
  }

  .navbar-toggler:focus {
    display: none !important;
  }

  .navbar-collapse {
    position: fixed !important;
    right: 0;
    top: 0;
    padding-left: 20px;

  }

  .navbar-container {
    max-width: 100% !important;
  }

  .dropdown-item {
    padding: 0 !important;
    margin-left: 20px;
  }
  
  .dropdown-item:hover {
    background-color: #1f2833 !important;
  }

  .toggle-navbar {
    display: flex;

    width: 250px;
    height: calc(100vh);
    padding-bottom: 20vh;
  }

  .navigation-link {
    flex: 1;
    background-color: #1f2833;
  } */

  /* asdasdasdasd */

  .dropdown-menu {
    position: relative !important;
    width: 100%;
  }

.customDropdown {
  position: fixed;
  width: 500px;
  background-color: #1f2833;
  height: 100vh;
  top: 0px;
  right: 0;
  color: white;
  transition: transform .4s;
  z-index: 1;
}

.dropDownShow {
  transform: translate(0px, 0px);
}

.dropDownHide {
  transform: translate(500px, 0px);
}

.dropdown-header {
  display: flex !important;
  height: 75px;
}

.dropdown-navContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdownIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdownIcon:hover {
  cursor: pointer;
}

.navigation-link {
  color: #66Fcf1 !important;
  font-size: 25px;
  text-align: left;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid #66Fcf1;
}

.dropdown-item {
  font-size: 25px;
  width: 100%;
}

.dropdown-item:hover {
  background-color: none;
}

.dropdown-helper {
  height: 0px;
}

.dropdown {
  top: 0px;
}

a {
  color: #66Fcf1 !important;
}

a:hover {
  color: #ffffff5d !important;
}

.dropdown-item:hover {
  color: #ffffff5d !important;
}

@media only screen and (max-width: 500px) {
  
  .navbrand {
    position: absolute;
    top: 14px;
    width: 200px;
  }

  .customDropdown {
    width: 100vw;
  }

}

}

@media only screen and (max-width: 320px) {
}
