.navigation-link {
  margin-right: 10px;
  color: #66Fcf1;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 8px;
}

.navigation-link:hover {
  color: #ffffff5d;
}

.navbrand {
  cursor: pointer;
  margin-right: -5px;
}

.dropdown-nav:hover {
  display: block;
}

.dropdown-nav:hover .dropdown-menu {
  cursor: pointer;
  display: block;
}

.dropdown-menu {
  display: none;
}
#navbar-dropdown {
  color: #66Fcf1;
  margin-bottom: -5px;
}

#navbar-dropdown:hover {
  color: #ffffff5d;
  text-decoration: underline;
}

#navbar-dropdown::after{
  display: none; 
}

.dropdown-item {
  cursor: pointer;
}