.nav-main {
  background-color: #1f2833;
  height: 75px;
}

.navigation-link {
  color: #66Fcf1 !important;
  text-decoration: none;
  font-size: 20px;
}

.navigation-link:hover {
  color: #ffffff5d;
}

.navbrand {
  cursor: pointer;
  margin-right: -5px;
  width: 300px;
}

/* navbardropdown */

#navbar-dropdown {
  color: #66Fcf1;
  margin-top: -8px;
  margin-right: -5px;
  border-radius: 0px;
  cursor: pointer;
}

#navbar-dropdown:hover {
  color: #ffffff5d;
  text-decoration: underline;
}

.dropdown-menu {
  top: 37px !important;

  cursor: pointer;
  border-radius: 0px !important;
  border: none !important;
  text-align: center !important;
  font-size: 20px !important;
  min-width: 180px !important;

  background-color: #1f2833 !important;
  padding: 0px !important;
}

.dropdown-item {
  color: #66Fcf1 !important;
}

.dropdown-item:hover {
  background-color: #ffffff5d !important;
}

.navbar-collapse {
  background-color: rgb(31, 40, 51);
  position: relative;
  top: 8px;
  border: none;
  z-index: 1;
}

.dropdown-helper {
  height: "11px";
  background-color: "#1f2833";
}

.collapsing {

}

.navbar-toggler {
  padding: .25rem .50rem !important;
}

.dropdown {
  position: relative;
}

.navbar-toggler-icon{
  background-image: url('../public/list.svg')!important;
}

.navbar-toggler-icon:hover{
  background-image: url('../public/list-hover.svg')!important;
}


@media only screen and (max-width: 992px) {
  
  .navbrand {
    width: 250px;
  }

  .dropdown-helper {
    height: 0px !important;
    background-color: red !important;
  }

  .dropdown-item {
    display: flex !important;
    flex-direction: column !important;
  }

  .navbar-toggler {
    position: absolute !important;
    right: 20px !important;
  }

  .navbar-toggler:focus {
    display: none !important;
  }

  .navbar-collapse {
    position: absolute !important;
    width: calc(400px) !important;
    top: 75px !important;
    right: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbar-container {
    max-width: 100% !important;
  }

  .dropdown-item {
    text-align: left !important;
  }
  
  .dropdown-item:hover {
    background-color: #1f2833 !important;
  }

}

@media only screen and (max-width: 320px) {
  .navbrand {
    width: 180px;
  }
}
